*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    .header-container{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-list{
            display: flex;
            align-items: center;
            gap: 36px;
            .header-item{
               a{
                font-weight: 350;
                font-size: 18px;
                line-height: 140%;
                color: #72727E;
                &:hover{
                    color: #446DF6 ;
                }
            }
            }
           
        }
        .btn-border-reveal{
             background-color: transparent;
             color: #446DF6;
             border: 1px solid #E9ECF5;
             position: relative;
             z-index: 1;
             padding: 12px 20px;
             font-weight: 600;
             font-size: 16px;
             line-height: 140%;
             overflow: hidden;
           &:after {
             content: "";
             position: absolute;
             width: 0;
             height: 100%;
             top: 0;
             left: 0;
             background-color: #446DF6;
             transition: width 0.3s ease;
             z-index: -1;
           }
           
           &:hover::after {
             width: 100%;
           }
           
           &:hover {
             color: white !important ;
           }
        }
      }
}
.section_one{
     .section_one-container{
        min-height: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        .section_one-left{
            width: 45%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            h2{
                width: 600px;
                font-weight: 400;
                font-size: 40px;
                line-height: 125%;
                color:#141B41;
                margin-bottom: 16px;
                .fade{
                    font-size: 40px;
                }
            }
            p{
                width: 524px;
                font-weight: 350;
                font-size: 24px;
                line-height: 140%;
                color:#72727E;
                margin-bottom: 29px;
            }
            .button{
                padding: 14px 20px;
                font-size: 18px;
                border: 1px solid #446DF6;
               background: #446DF6;
               box-shadow: 0 0 5px #000;
               color: #fff;
               outline: none;
               cursor: progress;
               &:hover{
                 background: none;
                 border: 1px solid #446DF6;
                 color: #446DF6;
               }
             }
             
                     }
        .section_one-right{
            width: 55%;
            position: relative;
            transform: translate(-13%, -180px,);
            .right-rasms{
                width: 100%;
                position: absolute;
                top: 0;
                z-index: 2;
            }
            .right-rasm{
                width: 80%;
                position: absolute;
                top: 0;
                z-index: 3;
                right: -1%;
            }
        }
     }
}
.section_two{
    .section_two-container{
        padding: 20px 0;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        .section_two-left{
            width: 50%;
            transform: translate(0,-10%);
            img{
                width: 100%;
            }
        }
        .section_two-right{
            width: 55%;
            h2{
                font-weight: 400;
                font-size: 40px;
                line-height: 111%;
                color:#141B41;
                margin-bottom:55px;
            }
           .right_cards{
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom:50px;
            .icon{
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                background: #F7F8FD;
                border-radius: 6px;
            }
            .right_card{
                h4{
                   font-weight: 400;
                   font-size: 24px;
                   line-height: 135%;
                   color:#141B41;
                   margin-bottom: 8px;
                }
                p{
                   font-weight: 350;
                   font-size: 15px;
                   line-height: 125%;
                   color:#72727E;
                  
                }
            }
           }
        }
    }
}
.section_three{
    padding: 40px 0;
    .tetle-one{
        width: 841px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
        h2{
            font-weight: 400;
            font-size: 32px;
            line-height: 125%;
            color:#141B41;
            margin-bottom:17px; 
        }
        p{
            font-weight: 350;
            font-size: 18px;
            line-height: 150%;
            color:#72727E;
 
        }
    }
    .setion_three-list{
        display:flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 20px;
        .section_three-item{
            width: 20%;
            padding: 28px 15px;
            display: flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 0px 16px 20px 0px #29292e08;
            border: 1px solid  #eef0f3;

            .icons{
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                background: #f2f3f6;
                border-radius: 6px;
                margin-bottom: 20px;
            }
            p{
               font-weight: 350;
               font-size: 16px;
               line-height: 150%;
               color:#141B41;
            }
        }
    }
}
.section_four{
    padding: 80px 0;
    .section_four-container{
        display: flex;
        align-self:center;
        justify-content: space-around;
        background: #446DF6;
        border-radius: 20px;
        height: auto;
            .four_left{
          width: 50%;
          padding: 50px 0 0 20px ;
          display: flex;
          align-items: start;
          flex-direction: column;
           h3{
            width: 470px;
            font-weight: 400;
            font-size: 38px;
            line-height: 114%;
            color:#F7F8FD;
            margin-bottom:17px; 
        }
        p{
            width: 396px;
            font-weight: 350;
            font-size: 18px;
            line-height: 140%;
            color:#E9ECF5;
            margin-bottom: 40px;
 
        }
        .four_btn{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;
            img{
                width: 35%;
            }
        }
        }
        .four_right{
          width: 50%;
          height: 402px;
          img{
            width: 100%;
            display: block;
            object-fit: cover;
            transform: translate(-40px,-70px);

          }
        }
    }
}
.section_five{
    .section_five-container{
        padding: 60px 0;
        h2{
            font-weight: 400;
            font-size: 40px;
            line-height: 140%;
            color:#141B41;
            margin-bottom:17px;  
        }
        .five-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            p{
                 width: 710px;
                 font-weight: 350;
                 font-size: 18px;
                 line-height: 150%;
                 color:#72727E;
               
            }
            .five-strelka{
                display: flex;
                align-items: center;
                gap: 20px;
                i{
                   width: 50px;
                   height: 50px;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   border-radius: 50px;
                   background: #446DF6;
                   color: #fff;
                   &:hover{
                    background: #e8e8eb;
                    color: #72727E;
                   }

                }
               
            }
        }
        hr{
            width: 710px;
           border: 1px solid #f3f2f2;
            margin-bottom: 40px;

        }
        .five_rasm{
            display: flex;
            align-items: center;
            gap: 30px;
            .five_texts{
                h4{
                   font-weight: 400;
                   font-size: 24px;
                   line-height: 140%;
                   color:#141B41;  
                }
                p{
                   font-weight: 350;
                   font-size: 18px;
                   line-height: 140%;
                   color:#72727E;  
                }
            }
        }
    }
}
footer{
     background: #141B41;
      margin-bottom: 100px;
    .footer_container{
        padding: 38px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        .footer-list{
            display: flex;
            align-items: center;
            gap: 36px;
            .footer-item{
               a{
                font-weight: 350;
                font-size: 18px;
                line-height: 140%;
                color: #E9ECF5;
                &:hover{
                    color: #446DF6 ;
                }
            }
            }
           
        }
        .btn-border-reveal{
             background-color: transparent;
             color: #E9ECF5;
             border: 1px solid #E9ECF5;
             position: relative;
             z-index: 1;
             padding: 12px 20px;
             font-weight: 600;
             font-size: 16px;
             line-height: 140%;
             overflow: hidden;
           &:after {
             content: "";
             position: absolute;
             width: 0;
             height: 100%;
             top: 0;
             left: 0;
             background-color: #446DF6;
             transition: width 0.3s ease;
             z-index: -1;
           }
           
           &:hover::after {
             width: 100%;
           }
           
           &:hover {
             color: white !important ;
           }
        }
      }
}




@media(max-width:1160px){
     .section_four{
        .section_five-container{
            .four_right{
                height: 390px;
                
            }
        }
    }
}

@media(max-width:1060px){
    .section_two{
        .section_two-container{
            .section_two-right{
                h2{
                    margin-bottom: 30px;
                }
                .right_cards{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .section_three{
        .setion_three-list{
            flex-wrap: wrap;
            .section_three-item{
                width: 20%;
            }
        }
    }
     .section_four{
        .section_four-container{
            .four_right{
                height: auto;
                img{
                    transform: translate(-20px,0);
                }
                
            }
        }
    }
}

@media(max-width:960px){
  header{
    .header-container{
        .header-list{
            gap: 10px;
        }
    }
  }
  .section_one{
    .section_one-container{
       padding: 10px  0;
       flex-direction: column-reverse;
       .section_one-left{
        width: 100%;
        h2{
            width: 100%;
        }
        p{
            width: 100%;
        }
       }
       .section_one-right{
        width: 70%;
        margin: 0 auto;
        margin-bottom: -100px;
        transform: translate(-70px, -50px);
        .right-rasms{
            width: 100%;
        }
        .right-rasm{
            width: 80%;
        }
        
       }
    }
  }
  .section_two{
        .section_two-container{
            flex-wrap: wrap;
            .section_two-left{
                width: 50%;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
            .section_two-right{
                width: 100%;
                margin-top: -40px;
                h2{
                    margin-bottom: 30px;
                }
                .right_cards{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    footer{
    .footer_container{
        .footer-list{
            gap: 10px;
        }
    }
  }
}
@media(max-width:860px){
    .section_three{
        .tetle-one{
            width: 100%;
        }
        .setion_three-list{
            flex-wrap: wrap;
            .section_three-item{
                width: 20%;
            }
        }
    }
       .section_four{
             .section_five-container{
              flex-direction: column-reverse;
               .four_left{
                width: 100%;
                padding: 0;
                h3{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
               }
               .four_right{
                width: 70%;
                height: auto;
                margin: 0 auto;
                img{
                    transform: translate(0,0);
                }
                
            }
        }
    }
}    
@media(max-width:780px){
  header{
    .header-container{
        .header-list{
            display: none;
        }
    }
  }
  .section_one{
    .section_one-container{
       padding: 10px  0;
       height: auto;
       .section_one-left{
        width: 100%;
         transform: translate(0,-100px);
        h2{
            font-size: 30px;
            line-height: 28px;
            width: 100%;
        }
        p{
            width: 100%;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 20px;
        }
       }
       .section_one-right{
        width: 80%;
        margin: 0 auto;
        transform: translate(-40px,0);

       
        .right-rasms{
            width: 100%;
        }
        .right-rasm{
            width: 80%;
        }
        
       }
    }
  }
   .section_three{
        .tetle-one{
            width: 100%;
        }
        .setion_three-list{
            width: 100%;
            flex-wrap: wrap;
            .section_three-item{
                width: 20%;
                padding: 15px;
                overflow: hidden;
                overflow-y: auto;
            }
        }
    }
    .section_five{
        .section_five-container{
            padding: 40px 0;
            h2{
                width: 100%;
                font-size: 30px;
                line-height: 30px;
            }
            .five-text{
                width: 100%;
                align-items: start;
                flex-direction: column-reverse;
                gap: 20px;
                margin-bottom: 15px;
                p{
                    width: 100%;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
            hr{
                width: 100%;
            }
        }
    }
     footer{
    .footer_container{
        .footer-list{
            display: none;
        }
    }
  }
}
@media(max-width:580px){
  .section_two{
        .section_two-container{
            flex-wrap: wrap;
            padding: 0;
            .section_two-left{
                width: 70%;
                margin: 0 auto;
                transform: translate(0,0);
                img{
                    width: 100%;
                }
            }
            .section_two-right{
                width: 100%;
                margin-top: -40px;
                h2{
                    font-size: 30px;
                    line-height: 32px;
                }
                .right_cards{
                    width: 100%;
                    margin-bottom: 20px;
                    .icon{
                        width: 45px;
                        height: 45px;
                        font-size: 20px;
                    }
                    h4{
                        font-size: 20px;
                        line-height: 22px;
                    }
                    p{
                        font-size: 15px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
    .section_three{
        .tetle-one{
            width: 100%;
            margin-bottom: 35px;
            h2{
                font-size: 30px;
                line-height: 30px;
            }
            p{
                font-size: 15px;
                line-height: 19px;
            }
        }
        .setion_three-list{
            width: 100%;
           flex-wrap: wrap;
           overflow: hidden;
            .section_three-item{
                width: 20%;
                padding:10px;
                 overflow: hidden;
                 overflow-y: auto;
                p{
                    font-size: 10px;
                    line-height: 11px;
                   
                    br{
                        display: none;
                    }
                }
            }
        }
    }
     .section_four{
             .section_four-container{
              flex-direction: column-reverse;
              padding: 20px ;
               .four_left{
                width: 100%;
                padding: 0;
                h3{
                    width: 100%;
                    font-size: 30px;
                    line-height: 25px;
                }
                p{
                    width: 100%;
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 30px;
                }
               }
        }
    }
}    